/**
 * Black theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 * Modificado por: Gabriel Vargas Monroy
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


// Colores Base
$fondo: #111;
$claro: #DFDDCE;
$verdeSuave: #AADD9B;
$verdeNitido: #87B876;
$verdeContraste: #29814F;
$verdeOscuro: #12272A;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $fondo;

$mainFont: 'Josefin Sans', sans-serif;
$linkColor: $verdeContraste;
$linkColorHover: lighten( $verdeContraste, 20% );
$headingFont: 'Righteous', cursive;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: $verdeOscuro;

$heading1Size: 2em;
$heading2Size: 1.5em;
$heading3Size: 1em;
$heading4Size: 0.5em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Modificamos un poco el estilo

.reveal .titulo {
    color: $verdeNitido;
    font-family: $headingFont;
    font-size: 3em;
}

.reveal .sub-titulo {
    margin-top: 0.5em;
    color: $claro;
    font-size: 1.5em;
}

.reveal .organizacion {
    margin-top: 1.5em;
    font-size: 0.7em;
}

.reveal .seccion {
    font-size: 0.5em;
}

.reveal .autor {
    margin-top: 2em;
    font-size: 0.5em;
    margin-bottom: 5px;
}

.reveal .codigo-institucional {
    margin-top: 0.01em;
    font-size: 0.5em;
}

.reveal .img-personal {
    max-width: 5em;
    border-radius: 100px 100px;
}
